<div
  class="bg-darkBlue flex min-h-screen w-screen justify-center items-center md:items-start md:pt-32 xl:items-center xl:pt-0 text-pureWhite font-outfit"
>
  <div
    class="flex flex-col items-center gap-16 w-11/12 md:w-7/12 lg:w-7/12 xl:w-3/12"
  >
    <img src="../../../assets/logo.svg" alt="logo" />
    <div class="px-7 py-8 bg-semiDarkBlue rounded-lg w-full">
      <h2 class="text-xl font-light pb-7">Sign Up</h2>
      <div
        class="flex justify-between p-3 border-b border-b-pureWhite text-base"
      >
        <input
          placeholder="Email"
          class="bg-transparent text-pureWhite outline-none caret-redy"
        />
        <div class="text-redy hidden">Can't be empty</div>
      </div>
      <div
        class="flex justify-between p-3 border-b border-b-pureWhite text-base mt-6"
      >
        <input
          placeholder="Password"
          class="bg-transparent text-pureWhite outline-none caret-redy"
        />
        <div class="text-redy hidden">Can't be empty</div>
      </div>

      <div
        class="flex justify-between p-3 border-b border-b-pureWhite text-base mt-6"
      >
        <input
          placeholder="Repeat password"
          class="bg-transparent text-pureWhite outline-none caret-redy"
        />
        <div class="text-redy hidden">Can't be empty</div>
      </div>

      <a
        routerLink="/home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <div
          class="rounded-md w-full text-center text-base text-white font-light bg-redy hover:bg-pureWhite hover:text-semiDarkBlue hover:cursor-pointer py-4 mt-6"
        >
          Create an account
        </div>
      </a>

      <div
        class="flex justify-center gap-1 w-full text-center text-base text-pureWhite font-lightpy-4 mt-6"
      >
        Already have an account?
        <div class="text-redy hover:underline hover:cursor-pointer">
          <a
            routerLink="/"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Login</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
