<div class="bg-darkBlue flex flex-col xl:flex-row text-pureWhite font-outfit">
  <app-nav-bar></app-nav-bar>
  <div class="w-full mt-20 md:mt-32 xl:mt-10 xl:ml-36">
    <div
      class="w-full flex items-start gap-2 md:gap-4 px-5 xl:pr-5 xl:pl-0 caret-redy"
    >
      <img
        src="../../../assets/icon-search.svg"
        alt=""
        class="w-[24px] h-[24px] md:w-[36px] md:h-[32px]"
      />
      <input
        type="text"
        (input)="search()"
        [ngModel]="searchData"
        name="searchData"
        class="w-full text-pureWhite bg-transparent text-[16px] md:text-lg outline-none border-b border-b-transparent focus:border-b focus:border-greyishBlue pb-1 md:pb-4"
        placeholder="Search for movies or TV series"
      />
    </div>
    <div class="h-screen font-outfit">
      <div class="text-xl font-light pt-1 pb-3">Trending</div>
      <div
        id="scroll"
        class="overflow-x-auto flex"
        style="-ms-overflow-style: none"
      >
        @for (movie of trendingMovie; track movie.title) {

        <app-trending-card [movies]="movie"></app-trending-card>
        }
      </div>
    </div>
  </div>
</div>
