<div class="bg-darkBlue flex flex-col xl:flex-row text-pureWhite font-outfit">
  <app-nav-bar></app-nav-bar>
  <div class="w-full min-h-screen mt-20 md:mt-32 xl:mt-10 xl:pl-36">
    <div
      class="w-full flex items-start gap-2 md:gap-4 px-5 xl:pr-5 xl:pl-0 caret-redy"
    >
      <img
        src="../../../assets/icon-search.svg"
        alt=""
        class="w-[24px] h-[24px] md:w-[36px] md:h-[32px]"
      />
      <input
        type="text"
        (input)="search($event)"
        [ngModel]="searchData"
        name="searchData"
        class="w-full text-pureWhite bg-transparent text-[16px] md:text-lg outline-none border-b border-b-transparent focus:border-b focus:border-greyishBlue pb-1 md:pb-4"
        placeholder="Search for movies or TV series"
      />
    </div>

    <div class="font-outfit px-5 xl:pl-0 mb-5">
      <div class="text-[20px] md:text-xl font-light pt-1 pb-3">Movies</div>
      <div class="flex flex-row flex-wrap justify-between md:gap-4">
        @for (movie of filterMovies(); track movie.title) {

        <app-movie-card [movies]="movie"></app-movie-card>
        }

        <!-- people = [{
          name: "ekow",
          age: 16,
        },
        {
          name: 'Grace',
          age: "18",
        }
        ] -->

        
        <!-- 
          
          <div class= "flex justify-around items-center">

            for(x in people){
              console.log(
                <h1>{x.name}</h1>\n
                <span class={color: "red"}>{x.age}</span>
              );

          </div>

            <h1>ekow</h1>
            <span>16</span>

            <h1>Grace</h1>
            <span>18</span>
        } -->
      </div>
    </div>
  </div>
</div>
